body {
    margin-top: 0px;
    height: 100%;
}

.body-container {
    padding: 20px;
    background-color: #fcfcfb;
}

.wpwd {
    transition: all .2s ease-out;
}

.wpwd:hover {
    color: gold;
}

.footer-container {
    background-color: #373a3c;
    padding-right: 30px;
    padding-left: 30px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

#warranty {
    letter-spacing: -.5px;
    word-spacing: 2px;
    text-align: center;
    color: grey;
}

.titleName, .titleTagline {
    float: left;
}

.flk-logo {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('../public/FLKCO.png') no-repeat;
    height: 88px;
    width: 90px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.header-image {
    display: block;
    height: 300px;
    text-align: center;
    background: url('../public/GOLD1.jpg') no-repeat center center scroll;
    background-position-y: 41%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.top-bar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.top-text {
    font-size: 11px;
    transition: all .2s ease-out;
}

.top-text:hover {
    color: gold;
}

.headline {
    padding: 160px 0;
}

.arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.headline h1 {
    font-size: 8em;
    background: #FFFF00;
    opacity: .50;
    text-align: left;
    letter-spacing: -5px;
}

.headline h3 {
    font-size: 2.25em;
    font-weight: bold;
    background: #FFFF00;
    opacity: .50;
    text-align: left;
    letter-spacing: -2px;
    margin-top: 0;
}

.header-down-arrow {
    color: white;
    font-size: 44px !important;
    animation-duration: 4s;
}

footer {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.img-border {
    border: 12.5px solid white;
}

.header-icon {
    font-size: 44px;
}

#pinterest {
    color: white;
    /*margin-right: 10px;*/
    animation-duration: 2s;
}

#instagram {
    color: white;
    /*margin-right: 20px;*/
    animation-duration: 3s;
}

#envelope {
    color: white;
    /*margin-right: 10px;*/
    animation-duration: 4s;
}

#pinterest:hover, #instagram:hover, #envelope:hover {
    color: black;
    cursor: pointer;
}

.social-row-bottom {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px;
}

.copyright {
    color: #fcfcfb;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 10px;
}

.product-info {
    height: 100%;
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /*padding: 10px;*/
}

.flex-vert-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    height: 95%;
    width: 100%;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-container:hover {
    border: 1px solid white;
}

.product-name {
    font-family: 'Montserrat';
    line-height: 1.25em;
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 15px;
    font-size: 1.25em;
    width: 90%;
}

.lead {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 12px;
    width: 80%;
    line-height: 1.75em;
    text-align: center;
    color: white;
}

.product-style {
    background-size: cover;
    height: 450px;
}

.product-1 {
    background: url('../public/brownleather500.jpg') no-repeat center center;
    background-size: cover;
}

.product-2 {
    background: url('../public/pinkblue500.jpg') no-repeat center center;
    background-size: cover;
}

.product-3 {
    background: url('../public/nylon_striped500.jpg') no-repeat center center;
    background-size: cover;
}

.product-4 {
    background: url('../public/blackorange500.jpg') no-repeat center center;
    background-size: cover;
}

.product-5 {
    background: url('../public/blackleather500.jpg') no-repeat center center;
    background-size: cover;
}

.product-6 {
    background: url('../public/blackred500.jpg') no-repeat center center;
    background-size: cover;
}

.product-7 {
    background: url('../public/pinkstriped500.jpg') no-repeat center center;
    background-size: cover;
}

.product-8 {
    background: url('../public/whitewhite500.jpg') no-repeat center center;
    background-size: cover;
}

.product-9 {
    background: url('../public/blackblack500.jpg') no-repeat center center;
    background-size: cover;
}

@media(max-width:1200px) {
    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .featurette-image {
        max-width: 50%;
    }
    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:769px) {
    .collapse {
        display: block;
    }
    .product-info {
        background-color: rgba(0, 0, 0, 0.25);
    }
    .social-row-bottom {
        font-size: 14px;
        padding: 25px 0px;
    }
}

@media(max-width:767px) {
    .headline h1 {
        font-size: 4em;
    }
    .headline h3 {
        font-size: 1.5em;
    }
    .featurette-heading {
        font-size: 25px;
    }
    .product-style {
        background-size: cover;
        height: 350px;
    }
}
