html,
body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    background-color: white;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #777;
    letter-spacing: -2px;
    /*word-spacing: 0px;*/
}

.description-header {
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
    /*color: #777;*/
    /*background-color: lightblue;*/
}

.header-container {
    background-color: white;
}

.fleck {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#etsy {
    padding-top: 20px;
}

.etsy-holder {
    display: center;
}

footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #777;
    background-color: white;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}

.container {
    background-color: white;
}