html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    letter-spacing: -2px;

    background-color: white;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #777;
    letter-spacing: -2px;
    /*word-spacing: 0px;*/
}

.description-header {
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
}

.header-container {
    background-color: white;
}

#fleck {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: -4px;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#social-twitter {
    font-size: .85em;
    color: steelblue;
}

#social-fb {
    font-size: .85em;
    color: navy;
}

#social-pin {
    font-size: .85em;
    color: crimson;
}

#social-insta {
    font-size: .85em;
    color: peru;
}

#etsy {
    padding-top: 20px;
}

.etsy-holder {
    display: center;
}

footer {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #777;
    background-color: white;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}

.container {
    background-color: white;
}