html,
body {
    height: 100%;
    font-family: 'HelveticaNeue-Light', 'Source Sans Pro', sans-serif;
    font-weight: 100;
    background-color: white;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.description {
    font-family: 'HelveticaNeue-Light', 'Source Sans Pro', sans-serif;
    font-weight: 100;
    color: #777;
}

.fleck {
    font-family: 'HelveticaNeue-Bold', 'Source Sans Pro', sans-serif;
    font-weight: 100;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#etsy {
    padding-top: 20px;
}

.etsy-holder {
    display: center;
}

footer {
    margin: 15px 0 5px 0;
    font-family: 'HelveticaNeue-Light', 'Source Sans Pro', sans-serif;
    color: #777;
    background-color: white;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}

.container {
    background-color: white;
}